body {
  background-image: url("webpage/loginpagegif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 20px;
}

.image-container img {
  width: 200px;
  height: auto; 
  border: 2px solid #ddd; 
  border-radius: 8px; 
  transition: transform 0.3s; 
}

.image-container img:hover {
  transform: scale(1.1); 
}

.spaced-text {
  margin: 10px; 
  padding: 20px;
}
.return-link {
  color: #ffffff; 
  text-decoration: none; 
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
  font-weight: bold;
  padding: 10px 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}